<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>New Lead</title>

    <script th:replace="fragments/header :: headerElement"></script>
    <script th:replace="fragments/navbar :: navbarElement"></script>
    <!--Footer needs to be redesigned
    <script th:replace="fragments/footer :: footerElement"></script>
    -->

</head>
<body>

<div class="container">

    <h3> Add A New Lead</h3>
    <hr>

    <p class="h4 mb-4"> Save Lead</p>

    <form action="#" th:action="@{/leads/save}" th:object="${leads}" method="POST">
        <!--Adding the id which will be required for updating / deleting the lead -->
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{companyName}" class="form-control mb-4 w-25" placeholder="Company Name"/>

        <input type="text" th:field="*{companyNumber}" class="form-control mb-4 w-25" placeholder="Company Number"/>

        <input type="text" th:field="*{industry}" class="form-control mb-4 w-25" placeholder="Industry"/>

        <input type="text" th:field="*{website}" class="form-control mb-4 w-25" placeholder="Website"/>

        <input type="text" th:field="*{currentSupplier}" class="form-control mb-4 w-25" placeholder="Current Supplier"/>

        <input type="text" th:field="*{notes}" class="form-control mb-4 w-25" placeholder="Notes"/>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/leads/list}">Back to Lead List</a>


</div>

</body>
</html>