<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<!--Prospect list view page.
    Table with a list of the different prospects and their info
    Takes in data from the @ModelAttribute, created in the ProspectController and binds it to the HTML form
      -> theModel.addAttribute("prospect", theProspect)in the controller
      -> "${prospect}" in the HTMl form
 -->

<head>
    <title>Prospect List</title>
    <script th:replace="fragments/header :: headerElement"></script>
    <script th:replace="fragments/navbar :: navbarElement"></script>
    <!--Footer needs to be redesigned
    <script th:replace="fragments/footer :: footerElement"></script>
    -->
</head>

<body>

<div class="container">

    <br>
        <h3 class="card-title">Prospects</h3>
    <br>
    <!-- Add Prospect Button -->
    <a th:href="@{/prospects/showAddForm}" class="btn-primary btn-sm mb-3">Add Prospect</a>

        <!-- Table with stripped rows -->
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>Company Name</th>
                <th>Number</th>
                <th>Email Address</th>
                <th>Contact Person</th>
                <th>Industry</th>
                <th>Current Supplier</th>
                <th>Monthly Spend</th>
                <th>Parcel Volume</th>
               <!--
               Excluding for now - space
               Date messing up the update - user has to also update the date each time
                <th>Website</th>
                <th data-type="date" data-format="DD/MM/YYYY">Last Contact Date</th>
               <th>Contact Type</th>
                -->

                <th>Notes</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="tempProspect : ${prospect}">
                <td th:text="${tempProspect.companyName}"/>
                <td th:text="${tempProspect.companyNumber}"/>
                <td th:text="${tempProspect.emailAddress}"/>
                <td th:text="${tempProspect.contactPerson}"/>
                <td th:text="${tempProspect.industry}"/>
                <td th:text="${tempProspect.currentSupplier}"/>
                <td th:text=" 'R ' +${tempProspect.monthlySpend}"/>
                <td th:text="${tempProspect.parcelVolume}"/>
              <!--  <td th:text="${tempProspect.website}"/>
                <td th:text="${tempProspect.lastContactDate}"/>
                <td th:text="${tempProspect.lastContactType}"/>
                -->
                <td th:text="${tempProspect.notes}"/>
                <td>    <!--Use the prospects id to prepopulate the form-->
                    <a th:href="@{/prospects/showUpdateForm(prospectId=${tempProspect.id})}" class="btn btn-info btn-sm">Update</a>
                </td>
                 <td>
                    <a th:href="@{/prospects/delete(prospectId=${tempProspect.id})}" class="btn btn-danger btn-sm"
                        onclick="if(!(confirm('Are you sure you want to delete this prospect?'))) return false">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    <hr>
    <a th:href="@{/dashboard}">Back to Dashboard</a>
    <hr>


</body>
</html>

